@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}
body{
    background-color: var(--eerie-black-1);
    --fontFamily-forum: 'Forum', cursive;
    --fontFamily-dm_sans: 'DM Sans', sans-serif;
}
.menus-area{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: 100px 0;
    color: #fff;


}
.menus-area::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--eerie-black-1);
    z-index: -1;
    opacity: .95;
    left: 0;
    top: 0;

}
.section-title{
    text-align: center;
    margin-bottom: 60px;

}
.section-title h4{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
}
.menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-items{
    flex-basis: 32%;

}
.title{
    background-color: hsl(38,61%,73%);
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 30px;
    


}
.single-menu{
    background-color: black;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: center;
    position: relative;
    transition: .3s;
    margin-bottom: 30px;

}
.single-menu span{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color:hsl(38,61%,73%);
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px 0 0 0;

}
.single-menu img{
    max-width: 90px;
    border: 1px solid #ddd;
    padding: 3px;
    transition: .3s;

}
.single-menu h4{
    border-bottom: 1px dashed #ddd;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;

}
.single-menu button{
    display: inline-block;
    color: black;
    text-transform: uppercase;
    margin-top: 25px;
    background-color: #aa8c79;

}
.single-menu:hover img{
    border-radius: 50%;
}
.single-menu:hover{
    border-color:hsl(38,61%,73%);
    border-radius: 7px;
}
.form-inline my-2 my-lg-0{
    background-color: #aa8c79;
}
.form-control{
    background-color: #aa8c79;
}
.a.btn.btn-outline-succes{
    background-color: #ddd;
    
}
a.btn.btn-outline-succes{
    background-color: beige;
}
  
  